.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.frameEasy {
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: repeat(8, 1fr);
  gap: calc(var(--baseUnit) * 0.5);
}

.frameMedium {
  display: grid;
  grid-template-rows: repeat(16, 1fr);
  grid-template-columns: repeat(16, 1fr);
  gap: calc(var(--baseUnit) * 0.5);
}

.frameHard {
  display: grid;
  grid-template-rows: repeat(16, 1fr);
  grid-template-columns: repeat(30, 1fr);
  gap: calc(var(--baseUnit) * 0.5);
}
